.App {
    font-family: sans-serif;
    text-align: center;
}

.backdrop {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.content-exclusao {
    flex-flow: column;
    justify-content: center;
    align-items: center;

    & * {
        text-align: center;
    }
}


input[type=checkbox] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(2);
    /* IE */
    -moz-transform: scale(2);
    /* FF */
    -webkit-transform: scale(2);
    /* Safari and Chrome */
    -o-transform: scale(2);
    /* Opera */
    transform: scale(2);
    padding: 10px;
}

.dialog {
    width: 460px;
    height: 380px;
    background: #545454;
    border-radius: 2rem;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    max-width: 100%;
    z-index: 1000;

    &.large {
        width: 1024px;
        max-width: 90%;
        height: 1024px;
        max-height: 90%;

    }
}

.header {
    min-height: 2rem;
    padding: 1rem;

}

.content {
    flex-grow: 1;
    padding: 1rem;

}

.footer {
    color: black;
    min-height: 4rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
}

.custom-footer {
    min-height: 4rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background: lightgray;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.close {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    background: none;
    color: black;
    font-size: 25px;
    border: 0;
    padding: 0.5rem;
    margin: 0;
    cursor: pointer;
    border-radius: 1rem;
    display: flex;

    &:hover {
        background: rgba(0, 0, 0, 0.2);
    }
}